/* =========================
   GLOBAL RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   ROOT
========================= */

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* =========================
   BODY
========================= */

body {
  background: #0b141a;
  color: white;
}

/* =========================
   LINKS
========================= */

a {
  text-decoration: none;
  color: #00a884;
}

/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #2a3942;
  border-radius: 10px;
}
/* =========================
   DISABLE BROWSER LONG-PRESS
========================= */

* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

/* Allow normal text editing in fields */

input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}
